[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
dependency-injector = "*"
asyncpg = "*"
celery = "*"
redis = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
server = "python api.py"
celery_worker = "celery -A celery_app worker -P gevent --loglevel INFO"
celery_beat = "celery -A celery_app beat --loglevel INFO"
